* {
  margin: 0;
  box-sizing: border-box; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #ffbe76; }

.card {
  perspective: 1000px;
  transform-style: preserve-3d; }
  .card .card-item {
    background-color: #fff;
    width: 250px;
    height: 250px;
    transition: transform 0.2s;
    transform: rotateX(20deg); }
